* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #A67C5B;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #FFFDEC;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
}

.footer-bottom {
    background-color: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    text-transform: capitalize;
}


.color {
    color: #A67C5B;
    color: #FFFDEC;
}