<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='/Image/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar_update.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='sgk.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='ban-quyen-sach.css')}}">
    <title>Document</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <img class="logo" src="{{url_for('static', filename='/Image/v-lib_logo.png')}}" width="50px" alt="">
        <ul>
            <li><a class="nav-list" href="{{ url_for('dashboard') }}">Trang Chủ</a></li>
            <li><a class="nav-list" href="{{ url_for('about_us') }}">Về Chúng Tôi</a></li>
            <li><a class="nav-list" href="{{ url_for('sgk') }}">Sách Giáo Khoa</a></li>
            <li><a class="nav-list" href="{{ url_for('thu_vien') }}">Thư Viện</a></li>
            <li><a class="nav-list" href="https://mancupsea.wixsite.com/v-library/blank-2">Video</a></li>
            <li><a class="nav-list" href="{{ url_for('quiz') }}">Quiz</a></li>
        </ul>
        <a href="{{ url_for('home') }}"><i class="fa-solid fa-user"></i></a>
        <label for="check" class="bars">
            <i class="fa-solid fa-bars"></i>
        </label>
    </nav>
    <!-- -------------------------- -->
    <div class="container-ban-quyen-sach">
        <div class="ban-quyen-sach">
            <p>Sách ebook được sưu tầm từ Internet. Bản quyền sách thuộc về Tác giả và Nhà xuất bản.</p>
        </div>
    </div>

    <div class="library">
        <div class="row">
            <a href="https://drive.google.com/file/d/1LPU3WTeHA920C8dTsyG0JaxzMu6MEbbz/view" target="_blank"><img class="subject" src="{{url_for('static', filename='/Image/canh-dieu-toan-1.jpeg')}}"></a>
            <a href="https://drive.google.com/file/d/1GY780yHNUKzEA2AO11G2ImaTLgUEJY_I/view?usp=drive_link" target="_blank"><img class="subject" src="{{url_for('static', filename='/Image/canh-dieu-tieng-viet-1-tap-1.jpeg')}}"></a>
            <a href="https://drive.google.com/file/d/1tiEZ2NmO9xCJL9mi1DcA3lf5Cck96L6f/view?usp=drive_link" target="_blank"><img class="subject" src="{{url_for('static', filename='/Image/canh-dieu-tieng-viet-1-tap-2.jpeg')}}"></a>
            <a href="https://drive.google.com/file/d/1c6guVWOxUicI6fNrf3FKRq7KIiKOy0ex/view?usp=drive_link" target="_blank"><img class="subject" src="{{url_for('static', filename='/Image/canh-dieu-tieng-anh-1.jpg')}}"></a>
            <a href="https://drive.google.com/file/d/1k_4k6Bj6nPmVu6A1Bf33nwN9Xd-3EiBj/view?usp=drive_link" target="_blank"><img class="subject" src="{{url_for('static', filename='/Image/canh-dieu-tu-nhien-va-xa-hoi-1.jpeg')}}"></a>
        </div>
        <div class="row">
            <a href="https://drive.google.com/file/d/11TJJ3ZWDZYM__kj9gyCf0k7jwQyf0nU7/view?usp=drive_link" target="_blank"><img class="subject" src="{{url_for('static', filename='/Image/canh-dieu-giao-duc-the-chat-1.jpg')}}"></a>
            <a href="https://drive.google.com/file/d/1KUgBDxIy5hUTlAaLBbHqJGr9myzVn7wt/view?usp=drive_link" target="_blank"><img class="subject" src="{{url_for('static', filename='/Image/canh-dieu-my-thuat-1.jpg')}}"></a>
            <a href="https://drive.google.com/file/d/1ykRqbUB2KhIrsb_2VM5dN6RL2hYlr6ie/view?usp=drive_link" target="_blank"><img class="subject" src="{{url_for('static', filename='/Image/canh-dieu-am-nhac-1.jpg')}}"></a>
            <a href="https://drive.google.com/file/d/1GQxh6yEldFVQ1kHZl2ufzwQ34YaQp3rH/view?usp=drive_link" target="_blank"><img class="subject" src="{{url_for('static', filename='/Image/canh-dieu-dao-duc-1.jpg')}}"></a>
        </div>
    </div>
    <!-- -------------------------- -->
    
    <footer>
        <div class="footer-content">
            <h3>V-LIBRARY</h3>
            <p>Với mong muốn đem trang sách đến với các em, đồng thời hỗ trợ cung cấp nguồn tài liệu chính thống tới thầy cô, "V-Library" là giải pháp hiện đại cho những vấn đề xưa cũ.</p>
            <ul class="socials">
                <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100090439011915"><img src="{{url_for('static', filename='/Image/facebook-icon.png')}}" width="30px"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>